config/n8n/workflows/aiops-alert-handler.json
{
  "name": "AIOps Alert Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aiops-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.severity }}",
              "operation": "equals",
              "value2": "critical"
            }
          ]
        }
      },
      "id": "if-critical",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/n8n/webhook/command",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "send_notification"
            },
            {
              "name": "target",
              "value": "telegram"
            },
            {
              "name": "parameters",
              "value": "={{ JSON.stringify({ message: '🚨 CRITICAL: ' + $json.data.alert_name + ' - ' + $json.data.description }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-critical",
      "name": "Notify Critical",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 200]
    },
    {
      "parameters": {
        "url": "http://api:8000/api/v1/n8n/webhook/command",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "analyze_logs"
            },
            {
              "name": "target",
              "value": "={{ $json.data.labels.service || 'all' }}"
            },
            {
              "name": "parameters",
              "value": "={{ JSON.stringify({ timeframe: '1h' }) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "analyze-logs",
      "name": "Analyze Logs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'processed', alert: $json.data.alert_name }) }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Notify Critical",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Critical": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Logs": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["aiops", "alerts", "automation"]
}
